.loaderParent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgb(255, 255, 255, 0.7);
  z-index: 100;
}

.loading {
  height: 20vh;
  width: 20vh;
}
