.App {
  text-align: center;
  display: flex;
  background-image: linear-gradient(0deg, #a1c4fd 0%, #c2e9fb 100%);
}

:root {
  --dark-blue: #1d4ed8;
  --light-blue: #4287f5;
  --dark-grey: #6b7280;
  --steel-grey: #d1d5db;
  --green: #0baa0b;
}

.allRoutes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 13rem;
  margin-right: 2rem;
  margin-top: 5.5rem;
  width: 100%;
  min-height: 86dvh;
  height: 100%;
}

@media (max-width: 885px) {
  .allRoutes {
    margin-left: 9rem;
  }
}

@media (max-width: 678px) {
  .allRoutes {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
