.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  height: 100%;
}

table {
  text-align: left;
  font-size: 1rem;
  margin: 1rem 0rem;
  border-collapse: collapse;
  word-wrap: break-word;
}

th {
  border: 2px solid;
  padding: 10px 20px;
  font-weight: bolder;
  font-size: larger;
}

td {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  border: 2px solid;
}

.title {
  margin: 1rem 0rem 1.5rem 0rem;
  font-weight: bolder;
  font-size: 2rem;
  position: relative;
}

.inventoryIcon {
  position: relative;
  top: 5px;
}

@media (max-width: 885px) {
  th {
    border: 2px solid;
    padding: 5px 10px;
    font-weight: bolder;
  }

  td {
    padding: 5px 10px;
  }

  .title {
    margin: 1rem 0rem 1rem 0rem;
    font-weight: bolder;
    font-size: 1.8rem;
    position: relative;
  }

  .inventoryIcon {
    position: relative;
    top: 5px;
  }
}

@media (max-width: 558px) {
  th {
    border: 2px solid;
    padding: 5px 2px;
    font-weight: bolder;
    font-size: small;
  }

  td {
    padding: 5px 2px;
    font-size: small;
  }

  .title {
    margin: 0rem 0rem 1rem 0rem;
    font-weight: bolder;
    font-size: 1.3rem;
    position: relative;
  }
}
