.addBtnSection {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.addBtn {
  display: flex;
  justify-content: flex-start;
  padding: 7px 5px;
  font-weight: bolder;
  font-size: 1.2rem;
  border-radius: 5px;
  border: transparent;
  box-shadow: 1px 2px 2px 1px rgb(0, 0, 0, 0.6);
  background-color: rgb(11, 170, 11);
  color: aliceblue;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: rgb(20, 124, 20);
}

.icon {
  font-size: 1.3rem;
  color: rgb(206, 2, 2);
  border: transparent;
  border-radius: 5px;
  padding: 3px 3px 0px 3px;
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0, 0.6);
  cursor: pointer;
}

.icon:hover {
  background-color: azure;
  color: rgb(255, 0, 0);
}

.iconBtn {
  border: transparent;
  padding: 12px;
}

@media (max-width: 885px) {
  .addBtnSection {
    display: flex;
    justify-content: center;
  }

  .iconBtn {
    padding: 5px;
  }

  .icon {
    font-size: 1rem;
  }
}

@media (max-width: 558px) {
  .addBtn {
    font-size: 0.8rem;
    margin-bottom: 0rem;
  }
}
